/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */

html, body, ul, li, div, button, h3, h2, input {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;

  font: inherit;
  font-family: sans-serif;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  outline: none;

  background: transparent;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

#content {
  background-image: image-url("paisley.jpg") repeat;
}

/* CLEAR-FIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.keyboard {
  display: block;
  margin: 0 auto;
  width: 600px;
  border: 75px solid #D97537;
  border-bottom: 0;
  border-top: 150px solid #D97537;
}

.key-container {
  position: relative;
  float: left;
}

.key-container.black {
  position: relative;
  width: 0px;
  height: 0px;
}

.key {
  height: 300px;
  width: 58px;
  border: 1px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.white.active {
  box-shadow: inset 0px 5px 5px black;
}

.black {
  position: absolute;
  z-index: 1;
  height: 150px;
  right: -10px;
  width: 40px;
  margin: 0 14px;
  background: black;
  box-shadow: -5px 0 5px black;
}

.black.active {
  box-shadow: -2px 0px 2px black;
}

.metronome-body {
  width: 300px;
  height: 400px;
  background: black;
}

.metronome-outer-dial {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.keyboard-options button {
  background: #C5C0BC;
  color: #70AF9E;
  text-align: center;
  width: 100%;
  font-size: 24px;
}

.gain-list {
  width: 50px;
}

.keyboard-options h2 {
  text-align: center;
  font-weight: bold;
  color: black;
  width: 100%;
}

.options-list {
  position: absolute;
  top: 375px;
  width: 500px;
}

.keyboard-options h3 {
  text-align: center;
  background: black;
  color: #D7D751;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.gain-options {
  float: left;
  margin: 5px 10px 5px 0;
}

.osc-options {
  margin: 5px 0;
  float: left;
  width: 120px;
}

.recorder {
  width: 600px;
  background: black;
  margin: 100px auto 0;
  border: 75px solid #D97537;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #D7D751;
  text-align: center;
}

.recorder-button {
  background: #C5C0BC;
  color: #70AF9E;
  font-size: 24px;
  padding: 10px;
  margin: 20px 30px;
  height: 65px;
  width: 75px;
  text-align: center;
}

input {
  outline: 1px solid #D7D751;
  margin: 20px 0 20px 20px;
  width: 250px;
  padding: 10px;
  color: black;
  background: white;
}

button.save-button {
  margin: 20px 0;
  background: #C5C0BC;
  color: #70AF9E;
  font-size: 18px;
  padding: 8px 10px 11px;
}

button.record-button {
  color: red;
  font-weight: bold;
}

.record-button.recording {
  background: black;
  border: 1px solid red;
}

.jukebox {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 240px;
  background: #D97537;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-family: 'Fugaz One';
  color: white;
}

.jukebox li {
  margin: 20px;
  border-bottom: 1px dotted white;
}

.jukebox span {
  font-weight: lighter;
  display: block;
  margin-top: 10px;
  float: left;
  width: 40%;
  color: white;
}

.jukebox button {
  display: block;
  float: right;
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.instructions {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 240px;
  background: #D97537;
  border-radius: 5px;
}

.instructions p {
  font-weight: lighter;
  color: white;
  line-height: 1.333;
  margin: 20px;
}
